# =========================
# DOCKER
# =========================
docker/mysql/data/
*.sock

# =========================
# LARAVEL APP
# =========================
src/laravel-app/vendor/
src/laravel-app/node_modules/
src/laravel-app/storage/
src/laravel-app/bootstrap/cache/
src/laravel-app/.env

# =========================
# SYSTEM / IDE FILES
# =========================
.env
.idea/
.vscode/
.DS_Store
Thumbs.db

# =========================
# LOGS / CACHE
# =========================
*.log
